.home-container {
  width: 500px;
}

.centered-text {
  text-align: center;
}

.title {
  padding: 15px;
}

.justify-center {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  padding-left: 10px;
  padding-right: 10px;
}